---
import { Image } from 'astro:assets';
import aguaMicelar from '../assets/featured_products/agua_micelar.jpg';
import contornoOjos from '../assets/featured_products/contorno_ojos.jpg';
import cremaAntiage from '../assets/featured_products/crema_antiage.jpg';
import cremaManos from '../assets/featured_products/crema_para_manos.jpg';
import fluidoCorporal from '../assets/featured_products/fluido_corporal.jpg';
import aceiteRosaMosqueta from '../assets/featured_products/rosa-mosqueta.jpg';

const productos = [
  {
    nombre: "Agua micelar",
    descripcion: "Elimina todo rastro de maquillaje, grasa e impurezas sin perjudicar ni agredir la piel.",
    imagen: aguaMicelar,
    alt: "Agua Micelar",
    enlace: "https://tienda.ozonapatagonia.com"
  },
  {
    nombre: "Contorno de ojos - Crema antistress",
    descripcion: "Refrescante, descongestionante y reconstituyente. Contiene hialuronato, Q10 y cafeína. Aplicación durante día y noche.",
    imagen: contornoOjos,
    alt: "Contorno de Ojos",
    enlace: "https://tienda.ozonapatagonia.com"
  },
  {
    nombre: "Crema antiage",
    descripcion: "Potentes activos como el Hialuronato en sinergia con Aceite de Rosa Mosqueta. Aplicación durante día y noche.",
    imagen: cremaAntiage,
    alt: "Crema Antiage",
    enlace: "https://tienda.ozonapatagonia.com"
  },
  {
    nombre: "Crema para manos",
    descripcion: "Fina fragancia y confort en manos durante todo el día, rápida absorción, con Aceite de Rosa Mosqueta.",
    imagen: cremaManos,
    alt: "Crema para Manos",
    enlace: "https://tienda.ozonapatagonia.com"
  },
  {
    nombre: "Fluido corporal",
    descripcion: "Revitalizante, reafirmante y tonificante. Con aceite de Rosa Mosqueta y emolientes vegetales, textura ligera y suave. Aplicar en todo el cuerpo dia y noche.",
    imagen: fluidoCorporal,
    alt: "Fluido Corporal",
    enlace: "https://tienda.ozonapatagonia.com"
  },
  {
    nombre: "Aceite de Rosa Mosqueta",
    descripcion: "100% puro, es un poderoso regenerador de la piel, contribuye a eliminar manchas, cicatrices y marcas.",
    imagen: aceiteRosaMosqueta,
    alt: "Aceite de Rosa Mosqueta",
    enlace: "https://tienda.ozonapatagonia.com"
  }
];
---

<section class="featured-products scrollspy" id="productos-destacados">
  <div class="container">
    <h2 class="section-title">Productos Destacados</h2>
    <div class="product-grid">
      {productos.map(producto => (
        <div class="product-card">
          <div class="container-image">
            <Image
              src={producto.imagen}
              alt={producto.alt}
              class="product-image"
              loading="lazy"
              decoding="async"
            />
          </div>
          <h3 class="product-name">{producto.nombre}</h3>
          <p class="product-description">{producto.descripcion}</p>
          <div class="container-button">
            <a href={producto.enlace} class="product-button">Ver en Tienda</a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .featured-products {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 4rem 1rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .product-card {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .container-image {
    padding: 1rem;
    padding-bottom: 0;
    overflow: hidden;
  }

  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .container-image:hover .product-image {
    transform: scale(1.4);
  }

  .product-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 1rem 0.5rem;
    color: #333;
  }

  .product-description {
    font-size: 0.9rem;
    color: #666;
    margin: 0 1rem 1rem;
    flex-grow: 1;
  }

  .container-button {
    padding: 1em;
  }

  .product-button {
    display: block;
    background-color: #dc2625;
    color: white;
    text-align: center;
    padding: 0.7rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  .product-button:hover {
    background-color: #b71c1c;
  }

  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
